<%- include("./partials/head.ejs")-%>
<%- include("./partials/nav.ejs")-%>
<div class="movie-container">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%- `${c1Image}` -%>" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Cinema 1 | <%- `${c1Title}` -%></h5>
          <h6 class="movie-rating"><ion-icon name="star-outline"></ion-icon><%- `${c1Rating}` -%> | <%- `${c1Genre}` -%></h6>
          <p class="card-text"><%- `${c1Plot}` -%></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%- `${c2Image}` -%>" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Cinema 2 | <%- `${c2Title}` -%></h5>
          <h6 class="movie-rating"><ion-icon name="star-outline"></ion-icon><%- `${c2Rating}` -%> | <%- `${c2Genre}` -%></h6>
          <p class="card-text"><%- `${c2Plot}` -%></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%- `${c3Image}` -%>" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Cinema 3 | <%- `${c3Title}` -%></h5>
          <h6 class="movie-rating"><ion-icon name="star-outline"></ion-icon><%- `${c3Rating}` -%> | <%- `${c3Genre}` -%></h6>
          <p class="card-text"><%- `${c3Plot}` -%></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%- `${c4Image}` -%>" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Cinema 4 | <%- `${c4Title}` -%></h5>
          <h6 class="movie-rating"><ion-icon name="star-outline"></ion-icon><%- `${c4Rating}` -%> | <%- `${c4Genre}` -%></h6>
          <p class="card-text"><%- `${c4Plot}` -%></p>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("./partials/footer.ejs") -%>